<!-- <div class="flex justify-center items-center h-screen">
    <p class="text-center">This is the student page with ID: {{id}}</p>
</div>

<div class="flex justify-center items-center h-full">
    <p class="text-center">This is the student page with ID: {{id}}</p>
</div> -->

<!-- component -->
<div class="flex min-h-screen items-center justify-center">
    <div class="relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div
            class="relative m-0 w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
            <img src="https://cdn-icons-png.flaticon.com/512/2422/2422548.png" alt="Student image"
                class="h-full w-full object-cover" />
        </div>
        <div class="p-6">
            <h6
                class="mb-4 block font-sans text-base font-semibold uppercase leading-relaxed tracking-normal text-pink-500 antialiased">
                This is the student page with ID: {{id}}
            </h6>
            <h4
                class="mb-2 block font-sans text-2xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </h4>
            <p class="mb-8 block font-sans text-base font-normal leading-relaxed text-gray-700 antialiased">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad magnam excepturi harum perspiciatis
                quibusdam nihil maiores voluptatum eaque, quis dolorum, eligendi voluptate animi repudiandae. Inventore
                fugit aut earum excepturi illo!
            </p>

        </div>
    </div>
</div>