 /* Custom styling for the card */
 .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
  transition: box-shadow 0.3s ease;
  margin: 20px auto;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color:  #186b73;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-info {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  color: #333;
}

.info-value {
  color: #666;
}

.card-footer {
  background-color: #f8f9fa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
